<form action="/data/search/prdID/result" method="get">
            <label for="asin">Enter ASIN:</label>
            <input type="text" id="asin" name="asin" required>
            <button type="submit">Search</button>
          </form>