
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheet/style.css' />
    </head>
    <body>
      <header>
        <h1>Janvi,N01579859</h1>
      </header>
      <main>
              {{{body}}}

      </main>
      <footer>Janvipatel9573@gmail.com</footer>
    </body>
  </html>